.screen {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 100px auto 100px;
}
.title {
    grid-column: 1 / span 3;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(7, 100px);
    width: 700px;
    height: 600px;
    justify-content: center;
    background-color: blue;
}

.circle { 
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    
}

.grid:hover {
    background-color: orange;
}

.taken {
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.red { 
    background-color: red;
    border-radius: 50%;
    margin: 5px;
    
}

.yellow { 
    background-color: yellow;
    border-radius: 50%;
    margin: 5px;
    
}