.screen {
    background: linear-gradient(92deg, red, transparent,yellow);
    display: grid;
    grid-template-columns: 400px auto 400px;
    grid-template-rows: 80px 80px 1fr 3fr 100px;
    justify-items: center;
    align-items: center;
   
}
.title {
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;/* 1 pixel black shadow to left, top, right and bottom */
    font-size: 50px ;
    grid-column: 1 / span 3;
    text-align: center;
    margin-bottom: 0px;
    margin-top: auto;
}
.outcome {
    display: grid;
    font-size: 50px;
    grid-column: 1 / span 3;
    margin: 0px;
    text-align: center;
    align-self: end;
}
#refresh {
    grid-column: 2;
    background: antiquewhite;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
#next {
    grid-column: 2;
    background: antiquewhite;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.board {
    background-color: antiquewhite;
    grid-column: 2 / auto;
    grid-row: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(7, 100px);
    width: 700px;
    height: 600px;
    justify-content: center;
    background-color: blue;
    margin: auto;
    padding: 5px;
    box-shadow: 10px 5px 5px #716d6d;
    border-radius: 25px;
}
.bottom {
    opacity: 0; 
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    height: 0px;
}
.circle { 
    background-color: antiquewhite;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    
}

.grid:hover {
    background-color: orange;
}

.yellow { 
    background-color: yellow;
    border-radius: 50%;
    margin: 5px;
    
}
.red { 
    background-color: red;
    border-radius: 50%;
    margin: 5px;
    
}
#yellowMania {
    margin-right: 12px;
}

